@use "../../containers/App/base" as base;
@use "../../components/Project/styles.scss" as project;

.Build {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 3vw 5%;
  padding: 2.5%;
  //Tablets and smaller
  @media screen and (max-width: 950px) {
    flex-direction: column;
  }
}

.BuildInfo {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 50vh;
  width: 50%;
  transition: ease-in-out 600ms;
  border: solid 1px base.$accent-color;
  border-radius: 1rem;
  margin: -3%;

  //Mobile
  @media screen and (max-width: 950px) {
    height: 35vh;
    margin-bottom: 10%;
    width: 70vw;
  }
}

.BuildInfo:hover {
  .BuildDescription {
    transition: ease-in-out 600ms;
    opacity: 1;
  }
  .BuildImage {
    transition: ease-in-out 600ms;
    opacity: 0.5;
  }
}

.BuildImage {
  @include project.backgroundImage;
}

.BuildDescription {
  @include project.descriptionTheme;
  position: absolute;
  transition: opacity 0.3s ease-in-out;
  color: base.$text-color;
  margin: 5%;
  opacity: 0;
  text-align: center;

  //Mobile
  @media screen and (max-width: 767px) {
    font-size: 13px;
    opacity: 1;
  }
}
