@use "../../containers/App/base" as base;

.Project {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: solid 1px base.$accent-color;
  border-radius: 1rem;
  margin: 0 3vw 5%;
  padding: 2.5%;
}

.ProjectLogo {
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  border-radius: 1rem;
  height: 100%;
  opacity: 0.1;
  width: 100%;
}

.ProjectInfo {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: start;

  .ProjectTitle {
    color: base.$accent-color;

    //Laptop
    @media screen and (max-width: 1400px) {
      font-size: 28px;
    }
    //Tablet
    @media screen and (max-width: 950px) {
      font-size: 24px;
    }
    //Mobile
    @media screen and (max-width: 767px) {
      font-size: 22px;
    }
  }

  .ProjectDescription {
    font-weight: 700;

    //Laptop
    @media screen and (max-width: 1400px) {
      font-size: 20px;
    }
    //Tablet
    @media screen and (max-width: 950px) {
      font-size: 18px;
    }
    //Mobile
    @media screen and (max-width: 767px) {
      font-size: 16px;
    }
  }

  .TopTechnologies {
    color: base.$accent-color;

    //Laptop
    @media screen and (max-width: 1400px) {
      font-size: 22px;
    }
    //Tablet
    @media screen and (max-width: 950px) {
      font-size: 20px;
    }
    //Mobile
    @media screen and (max-width: 767px) {
      font-size: 18px;
    }
  }

  .Divider {
    color: base.$text-color;
  }
}

.ProjectLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  //Laptop
  @media screen and (max-width: 1400px) {
    width: 25%;
  }
  //Tablet
  @media screen and (max-width: 950px) {
    width: 15%;
  }
  //Mobile
  @media screen and (max-width: 767px) {
    width: 25%;
  }

  .ProjectLinkIcon {
    cursor: pointer;

    //Laptop
    @media screen and (max-width: 1400px) {
      height: 2.5rem;
      width: 2.5rem;
    }
    //Tablet
    @media screen and (max-width: 950px) {
      height: 2rem;
      width: 2rem;
    }
    //Mobile
    @media screen and (max-width: 767px) {
      height: 2rem;
      width: 2rem;
    }
  }
}
