@use "../../containers/App/base" as base;

.Projects {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: solid 1px base.$accent-color;
  border-radius: 1rem;
  margin-bottom: 2.5%;
  padding: 2.5%;
}

// .ProjectLogo {
//   height: 10rem;
//   width: 10rem;
// }

.ProjectInfo {
  display: flex;
  flex-direction: column;
  align-items: start;
  align-content: center;
}

.ProjectLinkIcon {
  cursor: pointer;
  height: 2rem;
  width: 2rem;
}
