@use "../../containers/App/base" as base;

.Skills {
  margin-bottom: 10vh;
  margin-top: 3vh;
}

.MySkills {
  display: grid;
  width: 85vw;
  margin-left: 7.5vw;

  //Laptops and up
  @media screen and (min-width: 951px) {
    grid-template-columns: repeat(4, 1fr);
  }
  //Tablets and smaller
  @media screen and (max-width: 950px) {
    grid-template-columns: repeat(3, 1fr);
  }

  .Skill {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: solid 1px base.$accent-color;
    border-radius: 0.8rem;
    margin: 0.3rem;
  }

  .SkillLogo {
    border-radius: 0.2rem;

    //Desktop
    @media screen and (min-width: 1351px) {
      height: 80%;
      width: 14%;
    }
    //Laptop
    @media screen and (max-width: 1350px) {
      height: 80%;
      width: 20%;
    }
    //Tablet
    @media screen and (max-width: 950px) {
      height: 80%;
      width: 16%;
    }
    //Mobile
    @media screen and (max-width: 767px) {
      height: 2rem;
      width: 2rem;
    }
  }

  .SkillTitle {
    //Desktop
    @media screen and (min-width: 1351px) {
      font-size: 18px;
    }
    //Laptop
    @media screen and (max-width: 1350px) {
      font-size: 16px;
    }
    //Tablet
    @media screen and (max-width: 950px) {
      font-size: 14px;
    }
    //Mobile
    @media screen and (max-width: 767px) {
      font-size: 12px;
    }
  }
}
