@use "../../containers/App/base" as base;

.Load {
  height: 100vh;
  width: 100vw;
  background-color: base.$background-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.WaveAnimation {
  display: flex;
  justify-content: center;
  align-items: center;
  .Wave {
    width: 5px;
    height: 100px;
    background: linear-gradient(45deg, base.$accent-color, white);
    margin: 10px;
    animation: Wave 3s linear infinite;
    border-radius: 20px;
  }
  .Wave:nth-child(2) {
    animation-delay: -0.1s;
  }
  .Wave:nth-child(3) {
    animation-delay: -0.2s;
  }
  .Wave:nth-child(4) {
    animation-delay: -0.3s;
  }
  .Wave:nth-child(5) {
    animation-delay: -0.4s;
  }
  .Wave:nth-child(6) {
    animation-delay: -0.5s;
  }
  .Wave:nth-child(7) {
    animation-delay: -0.6s;
  }
  .Wave:nth-child(8) {
    animation-delay: -0.7s;
  }
  .Wave:nth-child(9) {
    animation-delay: -0.8s;
  }
  .Wave:nth-child(10) {
    animation-delay: -0.9s;
  }

  @keyframes Wave {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
}

.KendallScootin {
  border-radius: 2em;
}
