@use "../../containers/App/base" as base;

.Footer {
  margin-top: 4%;
}

.SocialLinks {
  display: flex;
  justify-content: space-evenly;

  .FooterIcons {
    opacity: 0.6;

    //Desktop
    @media screen and (min-width: 1351px) {
      height: 2.4rem;
      width: 2.4rem;
    }
    //Laptop
    @media screen and (max-width: 1350px) {
      height: 2.2rem;
      width: 2.2rem;
    }
    //Tablet
    @media screen and (max-width: 950px) {
      height: 1.8rem;
      width: 1.8rem;
    }
    //Mobile
    @media screen and (max-width: 767px) {
      height: 1.5rem;
      width: 1.5rem;
    }
  }
}

.Credits {
  color: base.$accent-color;
  font-weight: 100;
  margin: 1%;
  opacity: 0.6;
  text-align: center;

  //Desktop
  @media screen and (min-width: 1351px) {
    font-size: 24px;
  }
  //Laptop
  @media screen and (max-width: 1350px) {
    font-size: 20px;
  }
  //Tablet
  @media screen and (max-width: 950px) {
    font-size: 16px;
  }
  //Mobile
  @media screen and (max-width: 767px) {
    font-size: 12px;
  }
}
.ScrollToTop {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: base.$background-color;
  border: transparent;
  border-radius: 50%;
}

.UpArrow {
  margin: 2vh 0vw 1.1vh;
  animation: floating 4s ease-in-out infinite;
  @keyframes floating {
    0% {
      transform: translate(0, 0px);
    }
    50% {
      transform: translate(0, 15px);
    }
    100% {
      transform: translate(0, 0px);
    }
  }

  cursor: pointer;
  //Desktop
  @media screen and (min-width: 1351px) {
    height: 4rem;
    width: 4rem;
  }
  //Laptop
  @media screen and (max-width: 1350px) {
    height: 3.5rem;
    width: 3.5rem;
  }
  //Tablet
  @media screen and (max-width: 950px) {
    height: 3rem;
    width: 3rem;
  }
  //Mobile
  @media screen and (max-width: 767px) {
    height: 2rem;
    width: 2rem;
  }
}

.UpArrow:hover {
  // border-radius: 50%;
  // background-color: white;
  animation: none;
  transform: scale(1.13);
}
