$accent-color: #fe5b02;
$background-color: #0a192f;
$text-color: white;
$font-stack: "Montserrat", sans-serif;

.App {
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  color: $text-color;
  font-family: $font-stack;
}

.LoadingWrapper,
.App {
  max-width: 2100px;
  margin: 0 auto;
}
