@use "/src/containers/app/base" as base;

.MyInfo {
  height: 85vh;
  margin-top: 5vh;
  margin-bottom: 10vh;
}

.Intro {
  color: base.$accent-color;
  font-size: 40px;
  font-weight: 300;
  margin: 0 3vw;
  text-align: start;

  .Name {
    color: white;
    font-weight: 600;
  }
}

.Summary {
  font-size: 24px;
  font-weight: 300;
  margin-left: 3vw;

  .KeyWord {
    color: base.$accent-color;
    font-weight: 500;
  }
}

.Graphic {
  position: relative;
  display: flex;
  justify-content: center;
  animation: floating 6s ease-in-out infinite;
  @keyframes floating {
    0% {
      transform: translate(0, 0px);
    }
    50% {
      transform: translate(0, 15px);
    }
    100% {
      transform: translate(0, -0px);
    }
  }

  .KendallImage {
    transition: border-radius 500ms ease-in-out;
    background-color: base.$accent-color;
    border: solid 1px base.$accent-color;
    border-radius: 39% 61% 44% 56% / 100% 0% 100% 0%;
    height: 40vh;
    width: 80%;
  }

  .KendallImage:hover {
    background-color: white;
    border-radius: 64% 36% 53% 47% / 0% 100% 0% 100%;
  }
}
