@use "/src/containers/App/base" as base;

.MyInfo {
  height: 85vh;
  margin-top: 5vh;
  margin-bottom: 10vh;

  //Laptops and up
  @media screen and (min-width: 951px) {
    display: flex;
    flex-direction: row;
  }
  //Tablets and smaller
  @media screen and (max-width: 950px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.InfoText {
  width: 50vw;

  //Tablets and smaller
  @media screen and (max-width: 950px) {
    width: 90vw;
  }

  .Intro {
    color: base.$accent-color;
    font-weight: 300;
    margin: 0 3vw;
    text-align: start;

    //Desktop
    @media screen and (min-width: 1351px) {
      font-size: 60px;
    }
    //Laptop
    @media screen and (max-width: 1350px) {
      font-size: 54px;
    }
    //Tablet
    @media screen and (max-width: 950px) {
      font-size: 46px;
    }
    //Mobile
    @media screen and (max-width: 767px) {
      font-size: 38px;
    }

    .Name {
      color: white;
      font-weight: 600;
    }
  }

  .Summary {
    font-size: 22px;
    font-weight: 300;
    margin-left: 3vw;

    //Mobile
    @media screen and (max-width: 767px) {
      font-size: 20px;
    }

    .KeyWord {
      color: base.$accent-color;
      font-weight: 500;
      margin-left: 0;
    }
  }
}

.Graphic {
  position: relative;
  border-radius: 39% 61% 44% 56% / 100% 0% 100% 0%;
  animation: floating 6s ease-in-out infinite;

  @keyframes floating {
    0% {
      transform: translate(0, 0px);
    }
    50% {
      transform: translate(0, 15px);
    }
    100% {
      transform: translate(0, -0px);
    }
  }

  //Laptops and up
  @media screen and (min-width: 951px) {
    margin-left: 10vw;
  }

  .KendallImage {
    transition: border-radius 500ms ease-in-out;
    background-color: base.$accent-color;
    border: solid 1px base.$accent-color;
    border-radius: 39% 61% 44% 56% / 100% 0% 100% 0%;
    transition: ease-in-out 600ms;

    //Desktop
    @media screen and (min-width: 1351px) {
      height: 35vh;
      width: 30vw;
      margin-top: 50%;
    }
    //Laptop
    @media screen and (max-width: 1350px) {
      height: 35vh;
      width: 35vw;
      margin-top: 75%;
    }
    //Tablet
    @media screen and (max-width: 950px) {
      height: 40vh;
      width: 50vw;
      margin-top: 30%;
    }
    //Mobile
    @media screen and (max-width: 767px) {
      height: 35vh;
      width: 65vw;
      margin-top: 15%;
    }
  }

  .KendallImage:hover {
    background-color: white;
    border-radius: 64% 36% 53% 47% / 0% 100% 0% 100%;
    transition: ease-in-out 600ms;
  }
}
