@use "/src/containers/app/base" as base;

.MyInfo {
  height: 85vh;
  margin-top: 5vh;
  margin-bottom: 10vh;
}

.Intro {
  color: base.$accent-color;
  font-weight: 300;
  margin: 0 3vw;
  text-align: start;

  //Tablet
  @media screen and (max-width: 950px) {
    font-size: 46px;
  }
  //Mobile
  @media screen and (max-width: 767px) {
    font-size: 40px;
  }

  .Name {
    color: white;
    font-weight: 600;
  }
}

.Summary {
  font-weight: 300;
  margin-left: 3vw;

  //Tablet
  @media screen and (max-width: 950px) {
    font-size: 26px;
  }
  //Mobile
  @media screen and (max-width: 767px) {
    font-size: 24px;
  }
  .KeyWord {
    color: base.$accent-color;
    font-weight: 500;
    margin-left: 0;

    //Tablet
    @media screen and (max-width: 950px) {
      font-size: 26px;
    }
    //Mobile
    @media screen and (max-width: 767px) {
      font-size: 24px;
    }
  }
}

.Graphic {
  position: relative;
  display: flex;
  justify-content: center;
  animation: floating 6s ease-in-out infinite;
  @keyframes floating {
    0% {
      transform: translate(0, 0px);
    }
    50% {
      transform: translate(0, 15px);
    }
    100% {
      transform: translate(0, -0px);
    }
  }

  .KendallImage {
    transition: border-radius 500ms ease-in-out;
    background-color: base.$accent-color;
    border: solid 1px base.$accent-color;
    border-radius: 39% 61% 44% 56% / 100% 0% 100% 0%;

    //Tablet
    @media screen and (max-width: 950px) {
      height: 45vh;
      width: 70%;
      margin-top: 10%;
    }
    //Mobile
    @media screen and (max-width: 767px) {
      height: 40vh;
      width: 80%;
    }
  }

  .KendallImage:hover {
    background-color: white;
    border-radius: 64% 36% 53% 47% / 0% 100% 0% 100%;
  }
}
