@use "../../containers/App/base" as base;

.AboutMe {
  margin-bottom: 10vh;
}

.SectionHeader {
  border-bottom: 1px solid base.$accent-color;
  line-height: 0.1rem;
  margin: 0 3vw 4vh;

  //Laptop
  @media screen and (max-width: 1350px) {
    font-size: 38px;
  }
  //Tablet
  @media screen and (max-width: 950px) {
    font-size: 32px;
  }
  //Mobile
  @media screen and (max-width: 767px) {
    font-size: 26px;
  }

  .TextWrapper {
    padding-right: 1rem;
  }

  .SectionNumbers {
    background-color: base.$background-color;
    color: base.$accent-color;
    font-weight: 300;
  }

  span {
    background-color: base.$background-color;
  }
}

.Overview {
  font-weight: 400;
  margin: 0 5vw 2vh;

  //Laptop
  @media screen and (max-width: 1350px) {
    font-size: 22px;
  }
  //Tablet
  @media screen and (max-width: 950px) {
    font-size: 20px;
  }
  //Mobile
  @media screen and (max-width: 767px) {
    font-size: 18px;
  }

  .Keyword {
    color: base.$accent-color;
  }
}

.Qualities {
  margin-bottom: 5vh;

  //Laptop
  @media screen and (max-width: 1350px) {
  }
  //Tablet
  @media screen and (max-width: 950px) {
  }
  //Mobile
  @media screen and (max-width: 767px) {
    // font-size: 20px;
  }

  .SubHeader {
    //Laptop
    @media screen and (max-width: 1350px) {
      font-size: 26px;
    }
    //Tablet
    color: base.$accent-color;
    @media screen and (max-width: 950px) {
      font-size: 24px;
    }
    //Mobile
    @media screen and (max-width: 767px) {
      font-size: 22px;
    }
  }

  .Quality {
    margin-top: 1rem;

    //Laptop
    @media screen and (max-width: 1350px) {
      font-size: 22px;
      margin-left: 5%;
    }
    //Tablet
    @media screen and (max-width: 950px) {
      font-size: 21px;
      margin-left: 5%;
    }
    //Mobile
    @media screen and (max-width: 767px) {
      font-size: 19px;
    }
  }

  .Keyword {
    color: base.$accent-color;
  }
}
