@use "../../containers/App/base" as base;

.AboutMe {
  margin-bottom: 10vh;
}

.SectionHeader {
  border-bottom: 1px solid base.$accent-color;
  line-height: 0.1rem;
  margin: 0 3vw 4vh;

  //Desktop
  @media screen and (min-width: 1351px) {
    font-size: 42px;
  }
  //Laptop
  @media screen and (max-width: 1350px) {
    font-size: 38px;
  }
  //Tablet
  @media screen and (max-width: 950px) {
    font-size: 32px;
  }
  //Mobile
  @media screen and (max-width: 767px) {
    font-size: 26px;
  }

  .TextWrapper {
    padding-right: 1rem;
  }

  .SectionNumbers {
    background-color: base.$background-color;
    color: base.$accent-color;
    font-weight: 300;
  }

  span {
    background-color: base.$background-color;
  }
}

.ViewSwitch {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 70vw;
  margin-bottom: 5vh;
  width: 22vw;
}

.Switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.Switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.Slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: base.$accent-color;
  // border-radius: 0.2rem;
  // -webkit-transition: 0.4s;
  transition: 0.4s;
}

.Slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: base.$text-color;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .Slider {
  background-color: base.$text-color;
}

// input:focus + .Slider {
//   box-shadow: 0 0 1px #2196f3;
// }

input:checked + .Slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: base.$accent-color;
}

.Slider.Round {
  border-radius: 34px;
}

.Slider.Round:before {
  border-radius: 50%;
}

.Personality {
  color: base.$accent-color;
}

.Overview {
  font-weight: 400;
  margin: 0 5vw 2vh;

  //Desktop
  @media screen and (min-width: 1351px) {
    font-size: 26px;
  }
  //Laptop
  @media screen and (max-width: 1350px) {
    font-size: 23px;
  }
  //Tablet
  @media screen and (max-width: 950px) {
    font-size: 20px;
  }
  //Mobile
  @media screen and (max-width: 767px) {
    font-size: 18px;
  }

  .Keyword {
    color: base.$accent-color;
  }
}

.Qualities {
  margin-bottom: 5vh;

  .SubHeader {
    //Desktop
    @media screen and (min-width: 1351px) {
      margin-left: 3%;
      font-size: 30px;
    }
    //Laptop
    @media screen and (max-width: 1350px) {
      font-size: 26px;
    }
    //Tablet
    color: base.$accent-color;
    @media screen and (max-width: 950px) {
      font-size: 24px;
    }
    //Mobile
    @media screen and (max-width: 767px) {
      font-size: 22px;
    }
  }

  .Quality {
    margin-top: 1rem;

    //Desktop
    @media screen and (min-width: 1351px) {
      font-size: 27px;
      margin-left: 5%;
    }
    //Laptop
    @media screen and (max-width: 1350px) {
      font-size: 24px;
      margin-left: 5%;
    }
    //Tablet
    @media screen and (max-width: 950px) {
      font-size: 21px;
      margin-left: 5%;
    }
    //Mobile
    @media screen and (max-width: 767px) {
      font-size: 19px;
    }
  }

  .Keyword {
    color: base.$accent-color;
  }
}
